@using AtrinCode.Core.Domain.DTOs.Articles
@model IEnumerable<DisplayArticleDTO>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
<h1>صفحه نمایش مقاله</h1>
<input hidden value="model.Id" />
<p>
    <a asp-action="Create">ایجاد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
               <a href="#" onclick="DeleteArticle(@item.Id)">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
@section Scripts{
    <script>
function DeleteArticle(id) {
    debugger
    $.ajax({
       url: "Article/Delete/" + id,
            type: "POST",
            dataType : "json",
            success: function(response) {
                debugger
                //var rep = JSON.parse(response);
                   window.location.reload();
                   alert(response.Message);
                   
            }
    })

};
    </script>
}